@color-white: rgb(28, 25, 25);
@color-body: rgb(203, 86, 114);
@color-second: rgb(166, 99, 107);
@color-shadow: rgba(241, 51, 123, 0.5);
@color-background: rgb(220, 154, 154);
@color-text: rgb(12, 12, 12);
@color-rights: rgb(206, 83, 99);
@color-color: rgb(175, 70, 92);
@color-color2: rgb(213, 157, 154);

.my-mixin-btn{
  background-image: -moz-linear-gradient(90deg, rgb(169, 61, 75) 0%, rgb(162, 31, 48) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(178, 60, 87) 0%, rgb(185, 32, 57) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(187, 69, 93) 0%, rgb(187, 39, 58) 100%);
}